.chatbox {
    padding: 0;
}
.chatbox .panel-body{
    background: url(../img/patterns/Speech_Bubbles_Seamless_Pattern.jpg) repeat;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
}

.chatbox .chat-message{
    margin: 3px;

}

.chatbox .message-window{
    position: relative;
}

/*--------------------------------------------------------------- Userpic+date*/
.chatbox .message-author{
    padding: 5px 5px;
    max-width: 95px;
    margin-top: 5px;
}

/*rotate effect http://codepen.io/kvagtholm/pen/kLBzj*/
/*http://codepen.io/davidleininger/pen/FuitG myaby try*/
.chatbox .message-author .user-thumb img{
    transition        : 1.0s ease all;
    -moz-transition   : 1.0s ease all;
    -webkit-transition: 1.0s ease all;
}


.rotate:hover {
    transform               : rotateY(360deg);
    -moz-transform          : rotateY(360deg);
    -webkit-transform       : rotateY(360deg);
    transform-origin        : center;
    -moz-transform-origin   : center;
    -webkit-transform-origin: center;

    transition              : transform 1.0s ease all;
    -moz-transition         : -moz-transform 1.0s ease all;
    -webkit-transition      : -webkit-transform 1.0s ease all;
}

.chatbox .message-author .user-thumb img{
    width: 100%;
    height: auto;
    

	transition        : 1.0s ease all;
	-moz-transition   : 1.0s ease all;
	-webkit-transition: 1.0s ease all;
}

.chatbox .message-author .message-author-name{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #959595;
    width: 100%;
}

.chatbox .message-author .message-date{
    font-size: 9px;
    color:gray;
}

/*------------------------------------------------------- Message text wrapper*/
.chatbox .message-text-wrapper{
    padding: 5px;
    position: relative;
    min-height: 95px;
}

.chatbox .message-text-wrapper:after{
    right: 100%;
    top: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(217, 245, 255, 0.9);
    border-width: 20px;
    margin-right: -5px;
    border-top-width: 10px;
    border-bottom-width: 10px;
}

.chatbox .message-text-wrapper:hover .message-text{
    -webkit-box-shadow: 4px 4px 3px 1px rgba(117,117,117,0.4);
    box-shadow: 4px 4px 3px 1px rgba(117,117,117,0.4);
    -webkit-transform: rotate(0deg) scale(1, 1) skew(0deg, 0deg) translate(-2px, -2px);
    -ms-transform: rotate(0deg) scale(1, 1) skew(0deg, 0deg) translate(-2px, -2px);
    transform: rotate(0deg) scale(1, 1) skew(0deg, 0deg) translate(-2px, -2px);
}

.chatbox .message-text-wrapper:hover:after{
    -webkit-transform: rotate(0deg) scale(1, 1) skew(0deg, 0deg) translate(-2px, -2px);
    -ms-transform: rotate(0deg) scale(1, 1) skew(0deg, 0deg) translate(-2px, -2px);
    transform: rotate(0deg) scale(1, 1) skew(0deg, 0deg) translate(-2px, -2px);
}

/*--------------------------------------------------------------- Message text*/
.chatbox .message-text {
    background: -webkit-linear-gradient(270deg, rgba(217, 245, 255, 0.9) 40%, rgba(252, 252, 252, 0.9) 80%);
    background: linear-gradient(180deg, rgba(217, 245, 255, 0.9) 40%, rgba(252, 252, 252, 0.9) 80%);
    border-radius: 3px;
    padding: 6px;
    color: black;
    min-height: 75px;
}

.chatbox .message-text p {
    margin: 3px 0;
}



/*----------------------------------------------------------Chatbox input*/
.chatbox-input{
    background-color: #F7F7F9;
    border-radius: 3px;
    padding: 5px;
    padding-bottom: 15px;
}

.chatbox-input textarea{
    margin-top: 15px;
    margin-bottom: 5px;
}

.chatbox-input .message-input-author{
    margin-top: 15px;
}

.chatbox-input .message-input-author img{
    max-width: 50px;
}
