/*----------------------------------------------------------------------------------------------------------Typografy */
@font-face {
    font-family: "PreludeFLF";
    src: url(../fonts/preludeflf-webfont.eot);
    src: url(../fonts/preludeflf-webfont.eot?#iefix) format('embedded-opentype'), url('../fonts/preludeflf-webfont.woff') format('woff'), url('../fonts/preludeflf-webfont.ttf') format('truetype'), url('../fonts/preludeflf-webfont.svg') format('svg');;
        font-weight: normal;
}
@font-face {
    font-family: "PreludeFLF";
    src: url(../fonts/preludeflf-bold-webfont.eot);
    src: url(../fonts/preludeflf-bold-webfont.eot?#iefix) format('embedded-opentype'), url('../fonts/preludeflf-bold-webfont.woff') format('woff'), url('../fonts/preludeflf-bold-webfont.ttf') format('truetype'), url('../fonts/preludeflf-bold-webfont.svg') format('svg');;
        font-weight: bold;
}

.main h1, .main h2{
    font-family: 'PreludeFLF', Georgia, serif;
}

    .main h1{
        font-size: 40px;
        margin-bottom: 20px;
    }

    .main h2{
        font-size: 30px;
        margin-bottom: 0px;
    }

p{
    font: normal 400 15px/26px Georgia, serif;
    text-align: justify;
    margin: 0;
}

p > a{
    color: #6B8BEE;
}

.dl-block{
    margin: 21px 0;
    overflow:hidden;
}

.dl-block h3{
    float: left;
    width: 20%;
    text-align: right;
    margin: 0;
    text-transform: uppercase;
    padding-right: 15px;
    font-weight: normal;
    font-size: 12px;
    color: #080808;
}

.dl-block ul{
    float: left;
    width: 80%;
    padding-left: 0px;
}

.dl-block ul li{
    display: block;
    float: left;
    margin: 0px 15px 3px 0px;
    line-height: 16px;
    font-size: 16px;

}

.dl-block ul li a{
    font: normal 400 14px/18px Georgia, serif;
}

/*------------------------------------------------------------------------------------------------------Page elements */
body{
    background: url(../img/patterns/background.gif);
}

    .container{
        max-width: 900px;
    }
    .main{
        padding-left: 50px;
        background:
        url(../img/thumbtack.png) no-repeat calc(50% - 20px) 10px/auto  auto,
        url(../img/stains1.png) no-repeat 90% 45px/230px auto,
        url(../img/st2.png) no-repeat 35% 300px/auto auto,
        url(../img/stains4.png) no-repeat calc(60% - 80px) 600px/200px auto,
        url(../img/patterns/edge.png) repeat-y 0 0/auto auto,
        url(../img/paperlines.gif) repeat 0 0/auto auto content-box;
    }

        .panel {
            background-color: transparent;
            border: transparent;
        }

            .panel-primary:first-of-type{
                padding-top: 33px;
            }

img[src*="img/thumbnails"]{
    float: left;
    margin-right: 20px;
}

img[src*="img/photos"]{
    padding:5px;
    padding-bottom: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ADADAD;
    max-width: 250px;
    height: auto;
    box-shadow: 4px 4px 3px rgba(0,0,0,0.5);
}

    img[src*="img/photos"]:nth-of-type(even){
        float: right;
        margin-left: 20px;
    }

    img[src*="img/photos"]:nth-of-type(odd){
        float: left;
        margin-right: 20px;
    }

a[href$='.pdf'],
a[href$='.doc'],
a[href$='.docx'],
a[href$='.avi'],
a[href$='.mp4'],
a[href$='.mov'],
a[href$='.jpg'],
a[href$='.png'],
a[href$='.gif']
{
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position-x: 0;
}

a[href$='.pdf']{
    background-image: url('../img/icon_pdf.png');
}

a[href$='.doc'],
a[href$='.docx']{
    background-image: url('../img/icon_doc.png');
}

a[href$='.jpg'],
a[href$='.png'],
a[href$='.gif']{
    background-image: url('../img/icon_photo.png');
}

a[href$='.avi'],
a[href$='.mp4'],
a[href$='.mov']{
    background-image: url('../img/icon_film.png');
}

