/*-------------------------------------------------------- ----------- HTML5-2*/
.gradients>div{
    height: 100px;
    border: #022a50 2px solid;
    padding:0;
}
.gradient01{
    background-image: -webkit-radial-gradient(50px 50px,#FFF,#F00);
    background-image: -webkit-radial-gradient(50px 50px, #FFF, #F00);
    background-image: radial-gradient(50px 50px,#FFF,#F00);
}

.gradient02{
    background-image: -webkit-radial-gradient(20px 30px,#FFF,#F00 20px, #FFB60F);
}

.gradient03{
    background-image: -webkit-linear-gradient(#FFF 20px,#0f0 40px, #00f 80px);
}

.gradient04{
    background-image: -webkit-radial-gradient(#fff 0%, #f00 25%, #0f0 50%, #00f);
}

.gradient05{
    background-image: -webkit-linear-gradient(-45deg, #FFF 30%, #f00);
}

.gradient06{
    background-image: -webkit-linear-gradient(45deg,#fff 30%,#f00 30%,#0f0);
}

.bg-clip p{
    font-size:72px;
    font-family: sans-serif;
    text-transform: uppercase;
    background: -webkit-linear-gradient(yellow,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*----------------------------------------------------------------- bg HTML5-2*/
/*background-image, background-repeat, background-position x y/background-size*/
.bg-multiple{
    height: 480px;
    background: linear-gradient(155deg, rgba(253, 241, 116, 0.58) 10%,  rgba(255, 255, 255, 0) 40%) no-repeat 0 0/contain, url(../img/eating-grass.png) no-repeat 85% 75%/120px auto, url(../img/cow-with-flower-in-mouth.png) no-repeat 55% 85%/120px auto, url(../img/sky.jpg) no-repeat 0 0/contain;
    background: -webkit-linear-gradient(295deg, rgba(253, 241, 116, 0.58) 10%, rgba(255, 255, 255, 0) 40%) no-repeat 0 0/contain, url(../img/eating-grass.png) no-repeat 85% 75%/120px auto, url(../img/cow-with-flower-in-mouth.png) no-repeat 55% 85%/120px auto, url(../img/sky.jpg) no-repeat 0 0/contain;
    background: linear-gradient(155deg, rgba(253, 241, 116, 0.58) 10%,  rgba(255, 255, 255, 0) 40%) no-repeat 0 0/contain,
    url(../img/eating-grass.png)  no-repeat 85% 75%/120px auto,
    url(../img/cow-with-flower-in-mouth.png)  no-repeat 55% 85%/120px auto,
    url(../img/sky.jpg) no-repeat 0 0/contain;
}

.striped{
    height: 300px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 49%, rgba(250,138,118,1) 52%, rgba(255,255,255,0) 56%) repeat-y 90% 0/contain, url("../img/paperlines.gif");
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 49%, rgba(250,138,118,1) 52%, rgba(255,255,255,0) 56%) repeat-y 90% 0/contain, url("../img/paperlines.gif");
    background: linear-gradient(90deg, rgba(255,255,255,0) 49%, rgba(250,138,118,1) 52%, rgba(255,255,255,0) 56%) repeat-y 90% 0/contain,
    url("../img/paperlines.gif");
    -webkit-background-size: auto 1.6em;
    background-size: auto 1.6em;
    padding-right: 12%;
    line-height: 22px;
}
/*----------------------------------------------------------------------------*/