/*----------------------------------------------------------Занятие 20.02.2015*/
.text-shadow{
    font-size: 40px;
    font-weight: bold;
}

.text-shadow.glow{
    color:#fff;
    text-shadow: 0px 0px 20px #00c6ff;
}

.text-shadow.inset{
    color:#202020;
    text-shadow: 0px 2px 3px #777;
}

.text-shadow.stroke{
    color:#202020;
    text-shadow: 1px 1px 0px #999, -1px -1px 0px #999;
}

.text-shadow.d3d{
    color:#202020;
    text-shadow: 1px 1px 0px #999,
    2px 2px 0px #999,
    3px 3px 0px #999,
    4px 4px 0px #999,
    5px 5px 0px #999
}

a[href$='.pdf'],
a[href$='.doc'],
a[href$='.docx'],
a[href$='.avi'],
a[href$='.mp4'],
a[href$='.jpg'],
a[href$='.png'],
a[href$='.gif']
{
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position-x: 0;
}

a[href$='.pdf']{
    background-image: url('../img/icon_pdf.png');
}

a[href$='.doc'],
a[href$='.docx']{
    background-image: url('../img/icon_doc.png');
}

a[href$='.jpg'],
a[href$='.png'],
a[href$='.gif']{
    background-image: url('../img/icon_photo.png');
}

a[href$='.avi'],
a[href$='.mp4']{
    background-image: url('../img/icon_film.png');
}

/* :nth  selectors */
.lesson20-02 img:nth-of-type(even){
    float:right;
    width: 300px;
    margin: 10px;
}
.lesson20-02 img:nth-of-type(odd){
    float:left;
    width: 400px;
    margin: 10px;
}

/* counter */
.lesson20-02{
    counter-reset: abzaz;
}
.lesson20-02 p{
    counter-increment: abzaz;
    margin-left: 22px;
}

.lesson20-02 p:before{
    content:counter(abzaz);
    display: block;
    width: 20px;
    height: 20px;
    border:1px solid #ddd;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: 20px;
}

.lesson20-02 div.panel-body p:last-child:after{
    content:"Всего абзацев: "counter(abzaz);
    line-height: 40px;
    padding: 3px;
    height: 40px;
    border:1px solid #ddd;
    border-radius: 8px;
    background-color: #100040;
    color: white;
}