
/*-------------------------------------------------------------------- html5 3*/

/*-------------------------------------------------------------------- borders*/
.color-borders>div{
    width: 0;
    height: 0;
    margin: 10px;
    padding: 0;
}

.color-borders-1{
    border-width: 120px;
    border-color: orangered;
    border-style: solid;
    border-bottom-left-radius: 190px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 190px;

}

.color-borders-2{
    border-width: 120px;
    border-left-width: 70px;
    border-right-width: 70px;
    border-color: orangered;
    border-style: solid;
    border-radius: 50%/50%;

}
/*--------------------------------------------------------------- border-image*/
.border-img>div{
    width:300px;
    margin:1%;
    height: 200px;
}

div.border-img-1{
    border: 60px solid black;
    -webkit-border-image:url(../img/Border-image/Img_1.png) 25% round;
    -o-border-image:url(../img/Border-image/Img_1.png) 25% round;
    border-image:url(../img/Border-image/Img_1.png) 25% round;
    border-image-width: 160px;
}
div.border-img-2{
    border: 60px solid black;
    border-image-source:url(../img/Border-image/Img_2.jpg);
    border-image-slice: 40;
    border-image-repeat: round;
}

div.border-img-3{
    width: 150px;
    height: 250px;
    border: 60px solid black;
    -webkit-border-image: url(../img/Border-image/Img_3.png) 150 180 round;
    -o-border-image: url(../img/Border-image/Img_3.png) 150 180 round;
    border-image: url(../img/Border-image/Img_3.png) 150 180 round;
    border-image-outset: 50px 10px 50px 120px;
}

div.border-img-4{
    width: 500px;
    height: 500px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-style: solid;
    border-width: 122px 215px 115px 221px;
    -webkit-border-image: url(../img/Border-image/Celtic_knot_border.gif) 122 215 115 221 repeat;
    -o-border-image: url(../img/Border-image/Celtic_knot_border.gif) 122 215 115 221 repeat;
    border-image: url(../img/Border-image/Celtic_knot_border.gif) 122 215 115 221 repeat;
}
/*----------------------------------------------------------------  box-shadow*/
.box-shad>div{
    width:30%;
    margin: 15px;
    height: 200px;
    border-radius: 2px;
}

div.box-shadow-1{
    -webkit-box-shadow: 10px 10px 0px 0px;
    box-shadow: 10px 10px 0px 0px;
}
div.box-shadow-2{
    -webkit-box-shadow: 10px 10px 10px 0px;
    box-shadow: 10px 10px 10px 0px;
}
div.box-shadow-3{
    -webkit-box-shadow: 0px 0px 10px 0px;
    box-shadow: 0px 0px 10px 0px;
}
div.box-shadow-4{
    -webkit-box-shadow: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px 10px;
}
div.box-shadow-5{
    -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,1);
}
div.box-shadow-6{
    -webkit-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.6);
    box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.6);
    background: url(../img/sky.jpg) no-repeat 0 0/cover;
}

/*------------------------------------------ background-repeat background-clip*/

.new-bg>div{
    height: 300px;
    width: 46%;
    margin:2%;
    border-radius: 4px;
    border:10px solid #eee;
    background-image: url(../img/patterns/13254125431.jpg);
}

.new-bg-2{
    -webkit-background-size: 50% 50%;
    background-size: 50% 50%;
}

.new-bg-3{
    background-repeat: round;
}

.new-bg-4{
    background-repeat: space;
}

.new-bg-5{
    background-repeat: round;
    border:10px dotted #003366!important;
    padding: 15px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.new-bg-6{
    background-repeat: round;
    border:10px dotted #003366!important;
    padding: 15px;
    -webkit-background-clip: border-box;
    background-clip: border-box;
}

.new-bg-7{
    background-repeat: round;
    border:10px dotted #003366!important;
    padding: 15px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
.new-bg-8{
    background-repeat: space;
    border:10px dotted #003366!important;
    padding: 15px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

.new-bg-9{
    background-repeat: space;
    border:10px dotted #003366!important;
    padding: 15px;
    -webkit-background-clip: border-box;
    background-clip: border-box;
}