/*------------------------------------------------------------------HW-2 HTML5*/
@font-face{
    font-family:DSMoster;
    src:url(../fonts/DSMoster.ttf)
}

#html-bg-hw2-text pre{
    max-width: 400px;
    background: url(../img/patterns/800x518_Seamless_Crumpled_Paper_Preview1.png);
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-origin: border-box;
    background-origin: border-box;
    background-position: 0 -310px;
    border-radius: 0;
    border: 0;
    background-repeat: no-repeat;
}

body#html-bg-hw2 {
    background-image: url(../img/patterns/background.gif);
    background-attachment: fixed;
    max-width:1050px;
    /*-------------------------FONT*/
    font-family:DSMoster;
    font-size:16px;
    line-height:180%;
    color: #363636;
}

body#html-bg-hw2 h2,
body#html-bg-hw2 h3{
    font-family:DSMoster;
    line-height:190%;
    color:#100040;
}

body#html-bg-hw2 a{
    color:#100040;
}

/************************* /FONT*/

body#html-bg-hw2 .container {
    max-width:1000px;
}

#html-bg-hw2-text .panel-body{
    background: url(../img/thumbtack.png) no-repeat -webkit-calc(50% - 20px) 30px/auto  auto,
    url(../img/stains1.png) no-repeat 90% 45px/310px auto,
    url(../img/st3.png) no-repeat -webkit-calc(90% - 30px) 0px/300px auto,
    url(../img/stains4.png) no-repeat -webkit-calc(60% - 80px) 1300px/200px auto,
    url(../img/st2.png) no-repeat 75% 1400px/100px auto,
    url(../img/paperlines.gif) repeat;
    background: url(../img/thumbtack.png) no-repeat calc(50% - 20px) 30px/auto  auto,
    url(../img/stains1.png) no-repeat 90% 45px/310px auto,
    url(../img/st3.png) no-repeat calc(90% - 30px) 0px/300px auto,
    url(../img/stains4.png) no-repeat calc(60% - 80px) 1300px/200px auto,
    url(../img/st2.png) no-repeat 75% 1400px/100px auto,
    url(../img/paperlines.gif) repeat;
    padding-top: 50px;
}