/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 21.01.2015, 12:21:43
    Author     : master
    1.110.110
*/
body{
    max-width: 1200px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

/*---------------------------------------------------------------NAVBAR + MENU*/
.navbar-default .navbar-brand{
    color:#003366;
}

.navbar-header{
    width: 100%;
}

.navbar-header h2{
    font-size: 22px;
    color:#003366;
    float: left;
    margin-right: 30px;
}

.navbar-nav {
    margin: 7.5px 10px!important;
} 

.navbar-nav > li{
    margin-left: 2px;
    background-color: rgba(166, 168, 169, 0.23);
    border-radius: 3px;
}

.navbar-default .navbar-nav > li > a {
    color: #111D71;
    font-size: 18px;
}

.nav hr {
    margin-top: 3px;
    margin-bottom: 3px;
}

.main{
    margin-top: 80px;
}

.left-menu{
    min-width:370px;
}

.nav > li > a {
    padding: 5px 10px;
}

.modal-open .modal{
    z-index: 1300;
}
/*----------------------------------------------------------------------------*/

p {
    margin: 6px 0;
}



/*----------------------------------------------- Navigator styles for HW-2 PHP*/
.operators label{
    padding: 2px;
    width: 40px;
}

.operators label input,
.pad4{
    padding: 4px;
}

p.result{
    padding: 10px;
}

samp{
    color: #555555;
}
/*----------------------------------------------------------------------------*/




/*-----------------------------------------------------------------------------*/
.operators kbd{
    padding:5px;
    margin: 2px;
}

.shape-circle, .shape-square{
    margin-left: auto;
    margin-right: auto;
}

#shape-sizes div.input-group-addon{
    width:50px;
}


.panel-default .panel-heading .panel-title{
    color: #022241;
}


.inactive-user{
    color:#818181;
}
.admin-user{
    color:#0000ff;
    font-weight: bold;
}
.member-user{
    color: #333;
    font-weight: normal;
}
